.toast__message,
.toast__message span {
    font-family: 'Roboto', 'Noto', sans-serif !important;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

ons-input {
    margin: 4vw 0;
}

ons-button {
    margin-top: 4vw !important;
    text-align: center;
}

ons-button > ons-icon {
    color: #fff;
    margin-right: 2vw; 
}

.alert-dialog-title,
.alert-dialog-title--material,
.alert-dialog-content--material {
    font-family: 'Roboto', 'Noto', sans-serif !important;
}
