.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, a, span, textarea, div, marquee, ons-navigator, ons-toolbar, ons-card {
  font-family: 'Cabin', sans-serif !important;
}

ons-navigator {
  background: transparent !important;
}

ons-toolbar {
  background: transparent !important;
  box-shadow: none !important;
}

.page__background {
  top: 0 !important;
  background-image: url(../src/images/pincerbg3.png);
  /* background-size: 100% auto; */
  background-size: auto 100%;
}

.page__content {
  overflow: hidden !important;
  margin: 0;
}